.sticky-bottom {
    position: sticky;
    padding: 2%;
    top: 0;
    z-index: 100;
    height: 15%;
    background-color: rgb(43, 37, 44);
}

.container_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_footer a,
.icon {
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.container_footer ul {
    padding: 0%;
    margin: 2% 0 0 0;
    list-style: none;
    text-shadow: rgb(62, 62, 62) 1px 0 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.footer_navbar_brand {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_navbar_brand h3 {
    text-decoration: none;
}

a:hover,
.icon:hover {
    color: black;
}