.sticky-bottom {
    position: sticky;
    padding: 2%;
    top: 0;
    z-index: 100;
    margin-top: 2%;
    margin-bottom: 0;
    height: 15%;
    background-color: rgb(43, 37, 44);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    /* margin-top: 2%; */
    width: 50%;
    text-shadow: rgb(62, 62, 62) 1px 0 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.footer_navbar_brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90%;
}

.footer_navbar_brand h3 {
    text-decoration: none;
}

.active {
    color: #ff9393;
    filter: drop-shadow(0 0 0.75rem rgb(220, 20, 160));
    font-size: 1.5em;
}