.sticky-top {
    position: sticky;
    background-color: rgb(43, 37, 44);
    top: 0;
    z-index: 1020;
}

.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* min-height: 20%; */
    min-height: 55px;
}

img {
    width: 20px;
}

.container-fluid ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.container-fluid ul li {
    width: 10%;
}

.container-fluid a,
button {
    text-decoration: none;
    cursor: pointer;
    margin-left: 3%;
    font-size: 1.6em;
    color: white;
    /* text-shadow: #f8f8f8 0.5px 0 8px; */
    border: none;
    background-color: transparent;
    outline: none;

}

a:hover,
button:hover {
    color: black
}

.navbar-brand {
    padding: 1%;
    width: 5%;
}

.active {
    text-shadow: #f8f8f8 0.5px 0 8px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 113, 210));
}